{include file="_header.htm"}

{if $domain.google_ad_client}
<div class="y_news_ads">
	<script type="text/javascript">
	<!--
		google_ad_client = "{$domain.google_ad_client}";
		google_ad_width = 468;
		google_ad_height = 60;
		google_ad_format = "468x60_as";
		google_ad_type = "text_image";
	//-->
	</script>
	<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>
{/if}

<h2>{$keyword.news_title|capitalize}</h2>

<div class="y_news_list">
<ul>
{foreach from=$ynews item="news"}
	<li><a href="{$news.data.ClickUrl}">{$news.data.Title}</a> <em>{$news.data.PublishDate|date_format:"%A, %B %e, %Y @ %l:%M%p"}</em>{$news.data.Summary}</li>
{foreachelse}
Sorry, we do not currently have any {$keyword.news_title} to show right now.  Please check back soon and often.
{/foreach}
</ul>
</div>
<br /><a href="http://www.bing.com" target="_blank"><img src="{$SMARTY_BASE_FOLDER}images/bingresults.png" border="0" alt="Bing" /></a>

{include file="_footer.htm"}
